* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #434242;
}

a {
  text-decoration: none;
  color: #d901ff;
  transition: 0.5s;
}

a:hover {
  color: #d757ee;
}
